//--------------- Variables ---------------

// Color
$main-color: #fff;
$second-color: #5051f9;
$green: #19bf83;
$bg-color: #ffffff;
$white-color: #fbfaff;
$border-color: #e8eaff;
$text-color: #292d32;
$disble-color: #a4a4a4;
